*.png
*.dat
restart*
castep.*
*.usp*
CASTEP/
castep_data/
*.log
log*
ompi.comp*/
*.meam
*.extxyz
*.data
*.cell
out*
*.npy
*.traj
*.pyc
*.json
*.xml
*sparse*
!mlips/correct_extended_data_mlip/*.xml*
!mlips/initial_autoplex_mlip/*.xml*

#ssh-keygen -t ed25519 -C "sedm7085@ox.ac.uk"